{% extends 'layout.html'%}

{%block meta_tags%}
<!-- Enter meta tag details here -->
{%endblock%}

{%block title%}
 Base APP
{%endblock%}

{%block content%}
<div class="container d-flex my-5" style="min-height: 60vh;">

    <div class="m-auto text-center">
        <p class="h1 fw-bold">DJANGO</p>
        <p>What is this app and why do you need?</p>
        <p>You can clone this django project template to carry own with the basic configurations. 
            So there is no need for you to setup the settings mannually </p>
    </div>

</div>
{%endblock%}